 .createEventDiv {
    background-image: linear-gradient(335deg, rgb(138, 137, 219) 62%, rgb(255, 255, 255) 10%);
    padding-bottom:30px;
}

.createEventDiv form {
    border:5px solid rgb(172, 145, 245);
}
.createEventDiv h2{
    color: rgb(133, 88, 255);
}
.createEventDiv form div {
    margin-bottom:20px;
}
.createEventDiv form label {
    margin-bottom:5px;
    font-weight: 600;
    color: rgb(133, 88, 255);
}
.createEventDiv form button {
    color:  rgb(105, 53, 250);
    background-color: rgb(214, 199, 252);
    font-weight: 600;
}
